/* css colours */
:root {
  --Blue1: #0075ff;
  --Blue2: #008cff;
  --Blue3: #0099f4;
  --Blue4: #3eb6fc;

  --fontFamily: Arial, sans-serif;
}

* {
  font-family: var(--fontFamily);
}

* input,
button,
textarea,
select {
  border-radius: 5px;
  outline: none;
  border: none;
}

/* MAIN CONTAINER CSS */
.main-container {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

/* FORM CSS */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--Blue1);
}

.form-container label {
  font-weight: bold;
  font-size: 1.5rem;
}

.form-container input,
button,
textarea,
select {
  padding: 5px;
  font-size: 1rem;
  background-color: var(--Blue4);
}

.form-container .project-submit-form-container ul,
.list-submit-form-container ul {
  list-style-type: none;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-content: center;
}

.project-submit-form-container input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-submit-form-container textarea,
input {
  margin-top: 10px;
}

.list-submit-form-container input {
  text-align: center;
  width: 100%;
  width: 217px;
}

.project-submit-form-container,
.list-submit-form-container {
  background-color: var(--Blue1);
  flex-wrap: nowrap;
}

.project-submit-form-container li {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.list-submit-form-container li {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* FORM CONTAINER CSS */
.form-container {
  display: flex;
  flex-direction: column;
  /* margin-right: 10px; */
  box-shadow: 3px 0px 5px 0px var(--Blue2);
  position: relative;
}

/* PROJECT CONTAINER CSS */
.project-task-container {
  background-color: var(--Blue4);
  /* display: grid; */
  /* grid-template-rows: masonry; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px)); */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 2fr)); */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, max-content)); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 1000px;
  /* width: 100%; */
  /* align-self: flex-start; */
  /* justify-content: center; */
  /* row-gap: 10px; */
  /* column-gap: 10px; */
  align-content: flex-start;
}

/* PROJECT CARD CSS */
.task-info-container {
  display: flex;
  flex-direction: column;
}

.project-card {
  /* box-shadow: 2px 2px 2px aliceblue; */
  border: 5px solid aliceblue;
  border-radius: 5px;
  width: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  /* max-width: 100; */
  /* height: fit-content; */
}

.task-card {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.task-p {
  display: flex;
  flex-grow: 2;
  width: 100%;
}

.date {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  width: 130px;
  align-items: center;
}

.priority {
  display: flex;
  align-self: center;
  width: 10px;
  height: 30px;
}

.normal {
  background-color: #2fff1d;
}

.close {
  background-color: #ff9812;
}

.urgent {
  background-color: #ff0000;
}

.edit-button-container {
  display: flex;
  align-self: center;
}
